[submodule "HaketonEngine/thirdparty/GLFW"]
	path = HaketonEngine/thirdparty/GLFW
	url = https://github.com/SenseiHaketon/glfw.git
[submodule "HaketonEngine/thirdparty/glm"]
	path = HaketonEngine/thirdparty/glm
	url = https://github.com/g-truc/glm
